.contentFieldForm, .ck-editor, .ck-editor__main{
	//height: 100% !important;
}

.ck-editor, .ck-editor-bottom {
	border: 0 !important;
}

button:hover{
	cursor: pointer !important;
}

body, html, main {
	padding: 0 !important;
}

.ckeditor {
	background: #fafafa;
}